/* styles.css */

:root {
    --primary-color: skyblue;
    --hover-color: lightblue;
    --secondary-color: #2b2d42;
    --background-color: #edf2f4;
    --text-color: #2b2d42;
    --text-on-dark: #edf2f4;
    --table-border-color: green;
    --table-header-color: gray;
    --table-row-color: lightgreen;
    --button-color: gray;
    --button-text-color: black;
}

/* Apply the custom properties */
body {
    
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
    margin: 30px;
    padding: 0;
    color: var(--text-color);
    line-height: 1.6;
}

nav { 
    background-color: skyblue;
    overflow: hidden;
    margin: -30px -30px 30px -30px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: white;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}



nav ul li a:hover {
    background-color: lightgrey;
    border-radius: 4px;
}

table {
    
    width: 90%;
    border-collapse: collapse;
    margin: 30px auto;
    border: 2px solid black;
}

table th {
    background-color: green;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid black;
    text-transform: uppercase;
}

table td {
    background-color: rgb(165, 212, 69);
    color: black;
    font-weight: bold;
    padding: 12px;
    border: 2px solid black;
    text-align: center;
}

table td a {
    
    /* button style */
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif; 
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
    text-decoration: none;


}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


/* End of styles.css */
