<!-- create-event.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Create Event</title>
</head>
<body>
    <div layout:fragment="content">
    <h1>Create Event</h1>
    <form th:action="@{/events/create}" th:object="${event}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" required/>
        <br/>
        <label for="date">Date:</label>
        <input type="date" id="date" th:field="*{date}" required/>

        <br/>
        <label for="location">Location:</label>
        <input type="text" id="location" th:field="*{location}" required/>
        <br/>
        <!--<label for="organizerid">Organizer ID:</label>
        <input type="text" id="organizerid" th:field="*{organizerid}" required/> -->
        <br/>
        <label for="description">Description:</label>
        <textarea id="description" th:field="*{description}"></textarea>
        <br/>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    </div>
</body>
</html>
