<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Events</title>

    <script>
        function confirmDelete() {
            if (confirm("Are you sure you want to delete the event? This will delete the event permanently!")) {
                return true; // Allow the link to proceed
            } else {
                event.preventDefault(); // Prevent the link from being followed
                return false;
            }
        }
    </script>
    
</head>
<body>
    <div layout:fragment="content">
        <h1>Events</h1>
        <h2 th:text="${message}"></h2>
        <a href="/events/create" class="btn btn-primary" role="button">Create New Event</a>
        

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Location</th>
                    <!--<th>Organizer ID</th>-->
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.id}">1</td>
                    <td th:text="${event.name}">Sample Event</td>
                    <td th:text="${#dates.format(event.date, 'dd-MMM-yyyy')}">2024-01-01</td>
                    <td th:text="${event.location}">Sample Location</td>
                    <!--<td th:text="${event.organizerid}">10</td>-->
                    <td th:text="${event.description}">Sample Description</td>
                    <td>
                        <a th:href="@{/events/edit/{id}(id=${event.id})}" class="btn btn-primary">Edit</a>
                        <a th:href="@{/events/delete/{id}(id=${event.id})}" class="btn btn-danger" onclick="confirmDelete();">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
