<!-- home.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Welcome</h1>

        
        <div style="width: 50%; margin: auto;">
            <h3>About:</h3>
            <br>
            <div style="border: 5px solid skyblue; padding: 5px; background-color: whitesmoke; font-weight: bold;">
                <p>This is a simple event app that user can create an event after register and login using username and password.</p>
                <br>
                <p>Also, user can search for event using search button on the navbar.</p>
            </div>
        </div>
 
    </div>
</body>
</html>

<!-- end of file -->