<!-- login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <head>
        <title>Login</title>
    
        
    </head>
    <body> 
        <h1>Login</h1>
        <div layout:fragment="content" >
		<div>
			<p> Wlcome to CST323 CLC</p>
		</div>
            <div style="width:30%; margin-left: 40%;">
                <form th:action="@{/login}"  method="post" style="padding: 5%;">
                    <div class="col-md-6">
                        <label class="form-label" for="userName">Login Name:</label>
                        <input class="input-group" type="text" id="userName" name="username" required/>
                    </div>
                    
                    <div class="col-md-6">
                        <label class="form-label" for="password">Password:</label>
                        <input class="input-group" type="password" id="password" name="password" required/>
                    </div>
                    <br>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                    <div style="padding-top: 2%;">
                        <a href="/users/register">Create new account</a>
                    </div>
                </form>
                <div th:if="${param.error}">
                    <p>Invalid username or password</p>
                </div>
            </div>
        </div>
    </body>
</html>
