<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Register</title>

    
</head>
<body>
    <h1>Register</h1>
    <div layout:fragment="content">
        <div style="width:30%; margin-left: 40%;">
            
            <form th:action="@{/users/register}" th:object="${user}" method="post" style="padding: 5%;">
                <div class="col-md-6">
                    <label for="userName" class="form-label">Login Name:</label>
                    <input class="input-group" type="text" id="userName" th:field="*{userName}" required/>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="password">Password:</label>
                    <input class="input-group" type="password" id="password" th:field="*{password}" required/>
                </div>
                <br>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </form>
            <div th:if="${error}">
             <p th:text="${error}"></p>
            </div>
        </div>
    </div>
</body>
</html>
